@font-face { 
	font-family: 'MapoGoldenPier'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'MapoFlowerIsland'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'MapoDPPA'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDPPA.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'NeoDunggeunmo'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

nav{
	width: 100%;
	height: 70px;
	padding-bottom: 0;
}

nav .container1 h1{
	padding-left: 70px;
	padding-right: 200px;
	font-family: 'MapoFlowerIsland';
}

nav .container1 a{
	padding-left: 32px;
	font-size: 15px;
}

.header{
	width: 100%;
	height: 600px;
	background-image: url("캡처2.jpg");
}

.header .container1{
	text-align: center;
}

.header .container1 h2{
	padding-top: 200px;
	font-size: 60px;
	font-family: 'MapoGoldenPier';
}

.header .container1 p{
	font-size: 18px;
	font-family: 'MapoDPPA'
}


.container1{
	width: 960px;
	margin-right: 20%;
	margin-left: 20%;
}




.section{
	width: 100%;
	padding-top: 20px;
	vertical-align: top;
	display: flex;
	flex-direction: row;
}

.section article img{
	width: 310px;
	height: 310px;
	margin: 5px;

}




.section article p{
	font-size: 15px;
	width: 310px;
	font-family: 'NeoDunggeunmo'
	margin-left: 300px;
}



footer{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: black;
	color: white;
	text-align: center;
}

footer .container1 p{
	font-size: 15px;
	text-align: center;
}

